name: Docker Image CI/CD

on:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      packages: write
      contents: read

    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: Build Docker image
        run: docker build -t ghcr.io/ikasaidi/tp4-maintenance:${{ github.sha }} .

      - name: Push Docker image
        run: |
          echo "${{ secrets.GHCR_TOKEN_REPO }}" | docker login ghcr.io -u "${{ github.actor }}" --password-stdin
          docker push ghcr.io/ikasaidi/tp4-maintenance:${{ github.sha }}
